body
{
	background-image: url(back3.jpg);
}

a:link
{
	color: green;
	font-weight: bold;
	text-decoration: none;
}
a:hover
{
	color:hotpink;
	text-decoration: underline;
}
a:visited
{
	color:green;
}
table
	{
		color:red;
		background-color: rgba(255,0,255,0.2);
		font-weight: bold;
		text-align: center;
	}
	h1
	{
		color: black;
		text-align: center;
		text-decoration: underline red;
		text-shadow: red;
	}
	h2
	{
text-align: center;
text-decoration: line-through green;
	}
	.a
	{
		font-weight: bold;
		color:black;
		width:550px;
		position: absolute;
		top:250px;
		left:400px;
		letter-spacing: 1px;
	word-spacing: 5px;
	}
	.b
	{
		position: absolute;
		top:520px;
		text-align: center;
		left:500px;
	}
	.c
	{
		font-weight: bold;
		color:black;
		width:580px;
		position: absolute;
		top:570px;
		left:400px;
		letter-spacing: 1px;
	word-spacing: 5px;
	}
	.d
	{
		position: absolute;
		top: 850px;
		text-align: center;
		left:550px;
	}
	.e
	{
		font-weight: bold;
		color:black;
		width:580px;
		position: absolute;
		top:900px;
		left:400px;
		letter-spacing: 1px;
	word-spacing: 5px;
	}
	img
{
	max-height: 200px;
}
img:hover
{

	-webkit-transform:scale(1.5);
		-moz-transform:scale(1.5);
			-ms-transform:scale(1.5);
				-o-transform:scale(1.5);
	transform:scale(1.5);
	border-radius: 200px;

}
.f
{
	position: absolute;
	top: 270px;
	left: 220px;
}
.g
{
	position: absolute;
	top: 570px;
	left: 220px;
}
.h
{
	position: absolute;
	top: 890px;
	left: 190px;
}
