body
{
	background-image: url(back4.jpg);
}
h1
{
	color:rgba(255,20,45,1);
	text-align: center;
}
.t
{
	position: absolute;
	top: 170px;
}
p
{
	color: white;
	width: 850px;
	background-color: rgba(255,0,0,0.05);
	padding: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	word-spacing: 5px;
	position: relative;
	
	left: 230px;
	line-height: 170%;
}
a:link
{
	color: red;
	text-decoration: none;
}
a:hover
{
	color:hotpink;
	text-decoration: underline;
}
a:visited
{
	color:brown;
}

	table
	{
		color:red;
		background-color: rgba(0,255,255,0.3);
		font-weight: bold;
		text-align: center;
	}
h4
{
	text-align: center;
	margin-left: 500px;
	color: rgb(0,255,100);
	font-size: 130%;

}

